body {
            background-color: #a47ef6;
            color: #F0DB4F; /* gold */
            font-family: 'Cinzel Decorative', cursive;
            text-align: center;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            margin-bottom: 20px;
        }

        .villainous-button {
            min-width: 200px;
            height: 50px;
            background: linear-gradient(145deg, #004d00, #000000);
            border: 2px solid #F0DB4F;
            border-radius: 10px;
            color: #F0DB4F;
            font-size: 24px;
            text-align: center;
            line-height: 50px;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin: 10px;
            padding: 0 20px;
        }

        .villainous-button:hover {
            background: linear-gradient(145deg, #002800, #000000);
            border-color: #FFD700;
            color: #FFD700;
        }

        .player-container, .container, .firstPlayer {
            margin-top: 20px;
        }

        .character img {
            width: 150px;
            height: auto;
            cursor: pointer;
        }

        .character {
            display: inline-block;
            margin: 20px;
            text-align: center;
        }
